<h1>Welcome</h1>

<%= form_tag "/projects", method: "GET" do %>
  <%= text_field_tag 'q', params[:q] %>
  <%= submit_tag 'SEARCH' %>
<% end %>

<div id="projects">
  <%=render "projects" %>
</div>

<p>Create A Project</p>
<%= form_for(@project) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Create!" %>
<% end %>

<%= link_to "Logout", destroy_user_session_path,
  method: :delete %>
