<!DOCTYPE html>
<html>
<head>
  <title>Prodix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice" style="color: green;"><%= notice %></p>
  <p class="alert" style="color: red;"><%= alert %></p>
<%= yield %>

</body>
</html>
